//============================================
// Colors
//============================================
$white : #ffffff;
$blue: #00f0ff;

//============================================
//  Properties
//============================================
$fw-l: 300;
$fw-n: 500;
$fw-b: 700;

//============================================
//Mixins
//============================================

//============================================
// General
//============================================

.test-inthesky
{
  color: $blue;
}
